<div>
  <div class="container-fluid drivers-states">
    <div class="row row-style">
      <div class="col-lg-12">
        <div>
          <form name="new_state" id="newstate-form" ng-submit="new_state.$valid && vm.submitState()" role="form"
                style="display: block;" novalidate>
            <div class="row">
              <div class="col-lg-12">
                <h4>Nuevo chofer</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-lg-4">
                <label for="state_code">Codigo</label>
                <input name="state_code" id="state_code" type="text" class="form-control custom-datepicker"
                  ng-model="vm.new_state.code" required/>
              </div>
              <div class="col-xs-12 col-sm-4 col-lg-4">
                <label for="state_description">Descripcion</label>
                <input name="state_description" id="state_description" type="text" class="form-control custom-datepicker"
                  ng-model="vm.new_state.references" required/>
              </div>
              <div class="col-xs-12 col-sm-4 col-lg-4 button-column">
                  <input type="submit"
                     name="new-state-submit"
                     id="new-state-submit"
                     class="form-control btn btn-login"
                     value="Agregar"
                     ng-disabled="new_state.$invalid">

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container-fluid drivers-list">
    <div class="row row-style same-height">
      <div class="col-xs-12 col-sm-4 col-lg-3 column" ng-repeat="driverState in vm.driverStates">
        <div class="container-fluid driver-card-border driver-card-flex">
          <div class="driver-card-flex-left-column">
            <h4>{{driverState.code}}</h4>
            <p ng-show="vm.error == {{driverState.id}}" style="color:#A94442;">
              <strong>El estado esta en uso.</strong>
            </p>
            <p>
              <strong>Descripcion:</strong> {{driverState.references}}
            </p>
          </div>
          <div class="driver-card-flex-right-column">
            <div class="driver-card-flex-right-item">
              <button class="btn btn-default custom-btn delete-button"
                      ng-click="vm.deleteDriverState(driverState.id)" title="Editar">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

