<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="main.drivers">
        Masor
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">Choferes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="main.drivers">Ver todos</a></li>
            <li><a ui-sref="main.singleDriver({id: 'new'})">Nuevo chofer</a ></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="main.driverStates">Editar estados...</a></li>
          </ul>
        </li>
        <li><a >Ingresos</a></li>
        <li><a >Autos</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="mainController.goToNotifications()" class="btn btn-navbar">Notificaciones
          <span ng-if="$storage.count > 0" class="badge badge-pill badge-secondary">{{$storage.count}}</span></a>
        </li>
        <li><a ng-click="mainController.logout()" class="btn btn-navbar">Cerrar sesión</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<ui-view></ui-view>
