<div class="notifications-container">
  <table class="table table-responsive table-style">
    <thead>
    <tr>
      <th>Clase</th>
      <th>Tipo</th>
      <th>Legajo</th>
      <th>Fecha de vencimiento</th>
    </tr>
    </thead>
    <tbody ng-repeat="notification in vm.notifications">
    <tr>
      <td>{{vm.translation[notification.notifiable]}}</td>
      <td>{{vm.translation[notification.type]}}</td>
      <td><a ng-click="vm.goToID(notification)">{{notification.notifiable_data.file_number}}</a></td>
      <td>{{notification.expire_date}}</td>
    </tr>
    </tbody>
  </table>
</div>

